body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    background-color: white;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 380px;
    text-align: center;
}
.info{
    background-color: #f8f8f8;
    border-left: 5px solid #3feb3f;
    padding: 14px 18px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.info p{
    margin: 8px 0;
    color: #444;
    font-size: 17px;
    line-height: 1.5;
}

input{
    width: 90%;
    padding: 12px;
    margin-top: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

input:focus{
    border-color: #3feb3f;
}

button{
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #3feb3f;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    background-color: #2fd62f;
    transform: scale(1.03);
}

.total{
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #222;
}